.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logoImage {
  width: 90%;
  height: auto;
  object-fit: contain;
}

/* ── nav variant ─── */
.nav {
  width: 180px;
}

/* ── hero variant ─── */
.hero {
  width: 33%;
}

/* ── mini variant ─── */
.mini {
  width: 186px;

}

@media (max-width: 768px) {
  .mini {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .mini {
    width: 100px;
    height: 100px;
  }
}