.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logoImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ── nav variant ─── */
.nav {
  width: 60px;
}

/* ── hero variant ─── */
.hero {
  width: 60%;
}

/* ── mini variant ─── */
.mini {
  width: 186px;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px; */
  /* background: #9ebbcd; */
}